*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: Papyrus;
}
html, body{
    height:100%;
}
html{
    scroll-behavior:smooth;
}

/*Navgation Bar*/
#top{
    height:90vh;
    width:100%;
    background-size:cover;
    display:flex;
    flex-direction:column;
}
nav{
    height:15%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 50px;
    background-color:#fff8f0;
}
#nav-logo{
    height:100%;
}
.logo{
    max-height:100%;
    max-width:100%;
    aspect-ratio:1/1;
}
#navoptions {
    height:100%;
    display:flex;
    align-items:center;
}
.options{
    font-size:1.5rem;
    color:black;
    text-decoration:none;
    padding:0px 30px;
    cursor:pointer;
    transition:all 0.5s ease;
}
.options:hover{
    transform:scale(1.2,1.2);
    opacity:0.6;
}
/*#login-btn{*/
/*    height:50px;*/
/*    widht:100px;*/
/*    background-color:green;*/
/*    font-size:1.2rem;*/
/*    color:white;*/
/*    border-radius:50px;*/
/*    padding:0px 15px 0px 15px;*/
/*    margin-left:20px;*/
/*    cursor:pointer;*/
/*    transition:all 0.5s ease;*/
/*}*/
/*#login-btn:hover{*/
/*    opacity:0.8;*/
/*}*/
/*#bar { display:none; margin:20px; color:black; }*/
/*#navoptions_mini { display:none; }*/

/*HeroSection*/
#container1{
    width:100%;
    height:85%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image:url(bgimage.png);
    /*    background-image:url(group1.png);*/
    background-size:100% 100%;
}
/*About*/
#about{
    width:100%;
    padding:50px 50px;
    background-color:#fff8f0;
    text-align:center;
}
#about h1{
    font-size:2.5rem;
}
#about p{
    font-size:1.5rem;
    padding-top : 40px;
}

/*Destinations*/
#destinations{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    width:100%;
    margin:80px 0px;
    text-align:center;
}
.destination{
    margin:50px;
    width:500px;
    transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
    border-radius:10px;
    border-bottom:2px solid #80784f;
}
.destination:hover{
    transform:scale(1.1);
    box-shadow: 0 4px 20px rgba(79, 68, 24, 1);
    opacity:0.5;
}
.h{
    height:500px;
    width:500px;
    aspect-ratio:1/1;
    display:flex;
    align-items:center;
    justify-content:center;
}
.starting{
    opacity:0;
    color:white;
    font-size:2.5rem;
    font-weight:1000;
    padding:10px;
    background-color:red;
    border-radius:10px;
    transition: opacity 0.5s ease;
}
.destination:hover .starting{
    opacity:1;
}
.name{
    font-size:2.5rem;
    font-weight:1000;
}
.location{
    font-size:1.5rem;
}
#kashmir{
    background-image:url(/Kashmir/kashmir.jpg);
    background-size:contain;
    border-radius:10px;
}
#manali{
    background-image:url(/Manali/manali.jpg);
    background-size:contain;
    border-radius:10px;
}
#mussoorie{
    background-image:url(/Mussoorie/mussoorie.jpg);
    background-size:contain;
    border-radius:10px;
}
#nanital{
    background-image:url(/Nanital/nanital.jpg);
    background-size:contain;
    border-radius:10px;
}
#ladakh{
    background-image:url(/Ladakh/ladakh.png);
    background-size:contain;
    border-radius:10px;
}
#chopta{
    background-image:url(/Chopta/chopta.jpg);
    background-size:contain;
    border-radius:10px;
}
.name{color:black;}
.location{color:black;}
.desc{color:black;}

/*Testimonial*/
.testimonial_container {
    width: 100%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    padding:50px 50px;
}
.header {
    margin-bottom: 2rem;
}
.header h1 {
    font-size:2.5rem;
}
.header p {
    font-size:1.5rem;
    color:#505254;
}
.testimonials_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2rem 0rem;
    text-align:center;
}
.card {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align:center;
}
.card i {
    font-size: 2rem;
    color: #13135d;
}
.card p {
    font-size: 1rem;
    font-weight: 500;
}
.card hr {
    width: 60px;
    margin: auto;
}
.card img {
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
}
.card .name {
    font-size: 1rem;
    font-weight: 400;
}

/*Contact*/
#contact{
    background-color:#789db1;
    padding:50px 0px;
    margin-top:50px;
    text-align:center;
}
#c-details{
    padding-bottom:20px;
}
#social{
    font-size:1.2rem;
    padding-bottom:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

/*Places*/
.place_tour{
    padding:50px;
    background-color:black;
    background-size:cover;
    text-align:center;
}
.package_heading{
    font-size:5rem;
    color:white;
    font-weight:1000;
    margin-bottom:30px;
    text-shadow: white 1px 0 10px;
}
.icons{
    display:flex;
    font-size:1.2rem;
    color:white;
    justify-content:center;
    align-items:center;
    gap:100px;
    margin-bottom:30px;
    font-size:1.5rem;
}
.price_range{
    display:inline-block;
    background-color:white;
    padding:10px;
    border-radius:10px;
    color:darkred;
    text-shadow: darkred 1px 0 10px;
}
.packages{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin:100px;
    background-color:#fff8f0;
}
.slider-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
}
.slider{
    height:500px;
    width:500px;
    display:flex;
    aspect-ratio:1/1;
    overflow-x:auto;
    scroll-snap-type:x mandatory;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    scroll-behavior:smooth;
    border-radius:0.5rem;
}
.slider img{
    flex:1 0 100%;
    scroll-snap-align:start;
}

.package_details{
    padding:30px;
    margin:auto;
}
.package_details h1{
    margin-bottom:10px;
    font-size:2.5rem;
}
.days{
    margin-bottom:30px;
    color:darkred;
    font-size:1.2rem;
    font-weight:1000;
}
.accomodation_text{
    font-size:1.2rem;
    margin-bottom:10px;
}
.accomodation {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    margin-bottom:30px;
    font-size:1.5rem;
}
.visiting_spots{
    font-size:1.2rem;
    margin-bottom:10px;
}
.places{
    font-size:1rem;
    margin-bottom:30px;
    text-align:left;
    margin-left:40px;
}
.package_details form{
    text-align:right;
}
.book {
    background-image: linear-gradient(rgba(227, 131, 131, .84), rgba(196, 0, 0, .84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(196, 0, 0, .84) 0 2px 2px,rgba(227, 131, 131, .84) 0 16px 24px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;

}
.book:hover {
    background-image:linear-gradient(rgba(196, 0, 0, .84) 50%, rgba(227, 131, 131, .84));
}


/*Media Queries*/
@media (max-width:1000px) {

/*    .options,#login-btn{ display:none; }*/
/*    #bar{*/
/*        display:block;*/
/*        font-size:2rem;*/
/*        opacity:0.5;*/
/*    }*/
/*    #navoptions_mini{*/
/*        height:50%;*/
/*        display:none;*/
/*        flex-direction:column;*/
/*        align-items:flex-start;*/
/*        justify-content:space-evenly;*/
/*        margin-left:2rem;*/
/*    }*/
/*    .options_mini{*/
/*        font:1.3rem Prata;*/
/*        text-decoration:none;*/
/*        color:black;*/
/*        transition:all 0.5s ease;*/
/*    }*/
/*    .options_mini:hover{*/
/*        transform:scale(1.2,1.2);*/
/*        opacity:0.6;*/
/*    }*/
/*    #login-btn_mini {*/
/*        height:50px;*/
/*        widht:50px;*/
/*        background-color:green;*/
/*        font:1rem Prata;*/
/*        color:white;*/
/*        border-radius:50px;*/
/*        padding:0px 15px 0px 15px;*/
/*        transition:all 0.5s ease;*/
/*    }*/
/*    #login-btn_mini:hover{*/
/*        opacity:0.8;*/
/*    }*/
    .options{font-size:1rem;}
    .destination{
        margin:40px;
        width:350px;
    }
    .h{
        height:350px;
        width:350px;
    }
    .packages{
        flex-wrap:wrap;
    }
    .package_heading{
        font-size:3.5rem;
    }
}
@media (max-width:800px) {
    #nav-logo{
        display:none;
    }
    nav{padding:0px;}
    #navoptions{
        width:100%;
        display:flex;
        justify-content:space-evenly;
    }
    .options{padding:0px;}
    #about h1{
        font-size:2rem;
    }
    #about p{
        font-size:1rem;
    }
    .destination{
        margin:40px;
        width:300px;
    }
    .h{
        height:300px;
        width:300px;
    }
/*    .testimonial_container {*/
/*        padding: 0rem;*/
/*    }*/
/*    .testimonials_grid {*/
/*        gap: 0rem;*/
/*        margin: 2rem 0rem;*/
/*    }*/
    .testimonials_grid{
        display:flex;
        flex-wrap:wrap;
    }
    .header h1 {
        font-size:2rem;
    }
    .header p {
        font-size:1rem;
    }
    .card i {
        font-size: 1rem;
    }
    .card p {
        font-size: 0.8rem;
    }
    .places {
        flex-direction: column;
    }
    #contact{
        font-size:0.8rem;
    }

    .package_details h1{
        font-size:2rem;
    }
    .days{
        font-size:1rem;
    }
    .accomodation_text{
        font-size:1.2rem;
        margin-bottom:10px;
    }
    .places{
        font-size:1rem;
    }
    .book {
        font-size: 1rem;
        font-weight: 700;
        padding: 0.8rem;
    }
    .slider{
        height:400px;
        width:400px;
    }
}
@media (max-width:600px) {
    .packages{
        margin:50px 20px;
    }
    .slider{
        height:200px;
        width:200px;
    }
}